$def with (site_title, stylesheet, jquery_core, jquery_ui, main_tab, t)

<html>
<!--<html lang="en">-->
<head>
    <!--<meta charset="UTF-8">-->
    <title> $site_title </title>
    <link rel="stylesheet" href=$stylesheet>
    <script src=$jquery_core></script>
    <script src=$jquery_ui></script>
    <script>
    $$(function() {
        $$( "#main_tab" ).tabs({
            event: "mouseover"
        });
    });
    </script>
</head>
<body>

<div id="main_tab">
        $:main_tab


</div>

</body>
</html>