$def with (site_title, jquery_conf, main_tab, t)

<html>
<head>
    <!--<meta http-equiv="refresh" content="20">-->
    <title> $site_title </title>
    <link rel="stylesheet" href=$:(jquery_conf["stylesheet"]))>
    <script src=$:(jquery_conf["core"])></script>
    <script src=$:(jquery_conf["ui"])></script>
    <script>
    $$(function() {
        $$( "#main_tab" ).tabs({
            event: "mouseover"
        });
    });
    </script>
</head>
<body>

<div id="main_tab">
        $:main_tab
</div>

<div>
</div>

</body>
</html>